# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.*
db.sqlite3-journal
dump.*

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#editorconfig
.editorconfig

# MacOS Desktop service file
.DS_Store

# IDE settings
.vscode/

# media directory
media/
