body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}

.visually-hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.header {
    position: sticky;
    top: 0;
    background-color: #68b738;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 80px;
}

.header__logo {
    display: block;
    padding: 10px;
    font-size: 32px;
    color: #ffffff;
    text-decoration: none;
    box-sizing: border-box;
}

.header__logo--accent {
    color: #ff0000;
    font-weight: bold;
}

.header__logo:hover .header__logo--accent,
.header__logo:focus .header__logo--accent {
    color: #ff0000;
    text-shadow: 0 0 4px rgba(255, 0, 0, 0.6);
}

.header__logo:active {
    color: rgba(255, 255, 255, 0.5);
}

.header__user-menu {
    min-width: 165px;
}

.user-menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:0;
    margin: 0;
    color: #ffffff;
    list-style: none;
}

.user-menu__list li:not(:last-of-type) {
    margin-right: 35px;
}

.user-menu__item {
    position: relative;
    display: block;
    padding: 4px 0;
    font: inherit;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    box-sizing: border-box;
}

.user-menu__item:not(.user-menu__item--inactive)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
}

.user-menu__item--inactive {
    cursor: default;
}

.user-menu__item:hover:not(.user-menu__item--inactive)::after,
.user-menu__item:focus:not(.user-menu__item--inactive)::after {
    background-color: transparent;
}

.user-menu__item:active:not(.user-menu__item--inactive) {
    color: rgba(255, 255, 255, 0.5);
}

.content-block {
    min-height: 61vh;
    padding: 50px 15px;
}

.text {
    margin: 0;
    margin-bottom: 25px;
}

.link,
.field a {
    font: inherit;
    color: #68b738;
}

.link:hover,
.link:focus,
.field a:hover,
.field a:focus {
    color: #5eaa2f;
    text-decoration: none;
}

.link:active,
.field a:active {
    color: rgba(94, 170, 47, 0.8);
}

.definition-list {
    font: inherit;
    margin: 0;
    margin-bottom: 25px;
}

.definition-determination {
    margin: 0;
    margin-bottom: 20px;
}

.unordered-list {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
}

.unordered-list ul {
    padding-left: 30px;
    list-style-type: "+  ";
}

.unordered-list li {
    margin-bottom: 5px;
}

.post-block__wrapper,
.group-block__wrapper,
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 80px;
}

.menu-block {
    margin-bottom: 40px;
}

.menu-block__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-block__link {
    display: block;
    padding: 5px 10px;
    border: 1px solid #68b738;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    background-color: #68b738;
    font: inherit;
    color: #ffffff;
    text-decoration: none;
}

.menu-block__link:not(.menu-block__link--active):hover,
.menu-block__link:not(.menu-block__link--active):focus {
    text-decoration: underline;
}

.menu-block__link:not(.menu-block__link--active):active {
    text-decoration: underline;
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.7);
}

.menu-block__link--active {
    color: inherit;
    background-color: transparent;
}

.post-block__heading,
.group-block__heading,
.heading,
.user-profile__heading,
.user-posts__heading {
    margin: 0;
    padding: 0;
    margin-bottom: 55px;
    font-size: 40px;
    line-height: 48px;
    font-weight: normal;
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.paginator__item:not(:last-of-type) {
    margin-right: 10px;
}

.paginator__link {
    display: block;
    min-width: 40px;
    padding: 5px;
    font: inherit;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
    color: #68b738;
    border: 2px solid #68b738;
    border-radius: 4px;
    background-color: transparent;
    box-sizing: border-box;
}

.paginator__link:hover,
.paginator__link:focus,
.paginator__link:active {
    color: #ffffff;
    background-color: #5eaa2f;
    border-color: transparent;
}

.paginator__item--active .paginator__link {
   background-color: #68b738;
   color: #ffffff;
}

.paginator__item--disabled .paginator__link {
    pointer-events: none;
    border-color: #d2d2d2;
    color: #d2d2d2;
}

.footer {
    width: 100%;
    border-top: 3px solid #5eaa2f;
    box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.2);
}

.footer__logo--accent {
    color: #ff0000;
    font-weight: bold;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 80px;
}

.group-block__description {
    margin: 0;
    margin-bottom: 50px;
    font: inherit;
    font-size: 18px;
    line-height: 22px;
}

.form-card__wrapper {
    width: 850px;
    margin: 30px auto;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
}

.form-card__heading {
    margin: 0;
    margin-bottom: 40px;
    padding: 20px 50px;
    font-size: 24px;
    line-height: 30px;
    font-weight: normal;
    background-color: #f5f5f5;
    border-bottom: 1px solid #d2d2d2;
}

.form-card__description {
    margin: 0 40px 30px;
    padding: 10px;
}

.form-card__description--alert {
    background-color: rgba(255, 0, 0, 0.2);
}

.form-card__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 690px;
    margin: 0 auto;
    padding: 25px 0 65px;
}

.field {
    display: flex;
    width: 100%;
    margin: 0 0 30px 0;
    flex-wrap: wrap;
    align-items: baseline;
}

.field:last-of-type {
    margin-bottom: 40px;
}

.field__label,
.field label {
    display: block;
    min-width: 240px;
    margin-right: 20px;
    text-align: right;
}

.field a {
    display: block;
    max-width: 375px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.field__input-wrapper {
    width: 430px;
}

.field__input {
    width: 200px;
    height: 32px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #a2a2a2;
    border-radius: 3px;
    font-size: 16px;
    line-height: 20px;
    box-sizing: border-box;
}

.field__input:hover,
.field__input:focus {
    border: 2px solid #68b738;
}

.errorlist {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    padding: 7px;
    list-style: none;
    background-color: rgba(255, 0, 0, 0.2);
    box-sizing: border-box;
}

.field__help-text {
    width: 100%;
    vertical-align: baseline;
    margin: 0;
    font-size: 14px;
    color: #666666
}

.btn-group,
.form-card__btn-group {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.btn {
    display: block;
    box-sizing: border-box;
    min-width: 150px;
    padding: 7px 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #68b738;
}

.btn:hover,
.btn:focus {
    background-color: #5eaa2f;
}

.btn:active {
    background-color: rgba(94, 170, 47, 0.8);
}

.btn--light {
    font: inherit;
    text-decoration: none;
    color: #68b738;
    border: 2px solid #68b738;
    background-color: transparent;
}

.btn--light:hover,
.btn--light:focus,
.btn--light:active {
    color: #ffffff;
    background-color: #5eaa2f;
    border-color: transparent;
}

.btn--light-accent {
    font: inherit;
    text-decoration: none;
    color: #ff2828;
    border: 2px solid #ff2828;
    background-color: transparent;
}

.btn--light-accent:hover,
.btn--light-accent:focus,
.btn--light-accent:active {
    color: #ffffff;
    background-color: #e42323;
    border-color: transparent;
}

.message-block__wrapper {
    width: 550px;
    margin: 50px auto;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
}

.message-block__heading {
    margin: 0;
    margin-bottom: 40px;
    padding: 20px 50px;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal;
    background-color: #f5f5f5;
    border-bottom: 1px solid #d2d2d2;
}

.message-block__text {
    margin: 0;
    margin-bottom: 40px;
    padding: 0 50px;
    text-align: center;
}

.new-post__form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.new-post__form .field__label,
.new-post__form label  {
    min-width: 140px;
}

.new-post__form textarea {
    width: 400px;
    min-height: 130px;
}

.new-post__form input[type="file"] {
    border: none;
    width: auto;
    cursor: pointer;
}

.new-post__form input[name="image-clear"] {
    position: absolute;
    width: 0;
    height: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

label[for="image-clear_id"] {
    position: relative;
    padding-left: 57px;
    box-sizing: border-box;
}

label[for="image-clear_id"]::before {
    position: absolute;
    left: 30px;
    top: 2px;
    width: 15px;
    height: 15px;
    border: 2px solid #68b738;
    border-radius: 2px;
    content: "";
}

input[type="checkbox"]:checked + label[for="image-clear_id"]::after {
    position: absolute;
    left: 33px;
    top: 2px;
    font-weight: bolder;
    color: #68b738;
    content: "✓";
}

.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 80px;
}

.user-profile {
    flex-basis: 350px;
    flex-shrink: 0;
    margin-right: 15px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.user-profile__wrapper {
    margin: 25px 40px;
}

.user-profile__info {
    width: 100%;
    font: inherit;
    margin-bottom: 15px;
}

.user-profile__info td {
    text-align: left;
}

.user-posts {
    flex-grow: 1;
}

.user-posts__wrapper,
.comment-block__wrapper {
    padding: 25px 20px;
}

.post-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.post-list__item,
.post__item {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
}

.post__image {
    display: block;
    width: 100%;
    height: 339px;
    margin-bottom: 30px;
    object-fit: cover;
}

.post__heading {
    margin: 0 0 15px 0;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal;
}

.post__link {
    display: inline-block;
    margin-bottom: 25px;
    font: inherit;
}

.post__text {
    margin: 0;
    margin-bottom: 15px;
}

.post__date {
    display: block;
    margin-bottom: 25px;
    font-style: italic;
    text-align: right;
}

.post__btn-group {
    display: flex;
    justify-content: space-between;
}

.post__btn-group--edit {
    display: flex;
    justify-content: space-between;
    min-width: 350px;
    margin-left: auto;
}

.post__btn-group .btn:not(:last-of-type) {
    margin-right: auto;
}

.page-error-block__btn {
    margin-right: auto;
}

.comment-block {
    border-top: 2px solid #d2d2d2;
}

.comment-block__form-heading {
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 34px;
    font-weight: normal;
}

.comment-block__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid #c5c5c5;
}

.comment-block__form textarea {
    min-height: 170px;
    flex-grow: 1;
}

.comment-block__comments-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comment {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #c5c5c5;
}

.comment__heading {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
}

.comment__text {
    margin: 0;
    margin-bottom: 15px;
}

.comment__date {
    display: block;
    font-style: italic;
    text-align: right;
}
