{% extends "base.html" %}

{% block title %} Записи сообщества {{ group.title }} {% endblock %}

{% block content %}
    <section class="group-block">
        <div class="group-block__wrapper">
            <h1>{{ group.title }}</h1>
            <p>{{ group.description }}</p>
            <ul class="group-block__post-list">
                {% for post in page %}
                    <li class="post-list__post-list-item post">
                        <h2 class="post__heading">Автор: {{ post.author.get_full_name }}, дата публикации: {{ post.pub_date|date:"d M Y" }}</h2>
                        <p class="post__text">{{ post.text }}</p>
                    </li>
                {% endfor %}
            </ul>
            {% include "paginator.html" with items=page paginator=paginator %}
        </div>
    </section>
{% endblock %}
