{% extends "base.html" %}
{% block title %} Последние обновления {% endblock %}
{% block content %}
{% load thumbnail cache %}
<section class="posts-block">
    <div class="post-block__wrapper">
        {% include "menu.html" %}
        {% if paginator.count %}
            <h1 class="post-block__heading">Последние обновления</h1>
        {% else %}
            <h1 class="post-block__heading">Вы ни на кого не подписаны</h1>
        {% endif %}
            <ul class="post-block__list post-list">
                {% for post in page %}
                    {% cache 20 index_page page.number request.path %}
                        <li class="post-list__item">
                            {% include "post_item.html" with post=post %}
                        </li>
                    {% endcache %}
                {% endfor %}
            </ul>
            {% include "paginator.html" with items=page paginator=paginator %}

    </div>
</section>
{% endblock %}
