{% extends "base.html" %}
{% block title %} Последние обновления {% endblock %}
{% block content %}
  <section class="posts-block">
    <div class="post-block__wrapper">
      <h1 class="post-block__heading">Последние обновления</h1>
      <ul class="post-block__list post-list">
        {% for post in page %}
        <li class="post-list__item post">
          <h2 class="post__heading">Автор: {{ post.author.get_full_name }}, дата публикации: {{ post.pub_date|date:"d M Y" }}</h2>
          <p class="post__text">{{ post.text }}</p>
        </li>
        {% endfor %}
      </ul>
      {% if page.has_other_pages %}
        {% include "paginator.html" with items=page paginator=paginator %}
      {% endif %}
    </div>
  </section>

{% endblock %}
