{% extends "base.html" %}
{% block title %}Профиль {{ user.username }}{% endblock%}

{% block content %}
    <div class="profile-container">
        <section class="user-profile">
            <div class="user-profile__wrapper">
                <h1 class="user-profile__heading">{{ user_profile.get_full_name }}</h1>
                <table class="user-profile__info user-info">
                    <tr>
                        <td>username:</td>
                        <td>@{{ user_profile.username }}</td>
                    </tr>
                    <tr>
                        <td>Подписчиков:</td>
                        <td>{{ following_count }}</td>
                    </tr>
                    <tr>
                        <td>Подписан:</td>
                        <td>{{ follower_count }}</td>
                    </tr>
                    <tr>
                        <td>Записей:</td>
                        <td>{{ posts_count }}</td>
                    </tr>
                </table>
                {% if user_profile.username != request.user.username and request.user.is_authenticated %}
                    {% if following %}
                        <a href="{% url 'profile_unfollow' username=user_profile.username %}" class="user-profile__btn btn btn--light-accent">Отписаться</a>
                    {% else %}
                        <a href="{% url 'profile_follow' username=user_profile.username %}" class="user-profile__btn btn">Подписаться</a>
                    {% endif %}
                {% endif %}
            </div>
        </section>
        <section class="user-posts">
            <div class="user-posts__wrapper">
                <h1 class="user-posts__heading">Все записи пользователя {{ post.author }}</h1>
                <ul class="user-posts__list post-list">
                    {% for post in page %}
                    {% load thumbnail %}
                        <li class="post-list__item">
                            {% include "post_item.html" with post=post %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% include "paginator.html" with items=page paginator=paginator %}
        </section>
    </div>
{% endblock %}
