{% extends "base.html" %}
{% block title %}Профиль {{ user.username }}{% endblock%}

{% block content %}
    <div class="profile-container">
        <section class="user-profile">
            <div class="user-profile__wrapper">
                <h1 class="user-profile__heading">{{ user_profile.get_full_name }}</h1>
                <table class="user-profile__info user-info">
                    <tr>
                        <td>username:</td>
                        <td>@{{ user_profile.username }}</td>
                    </tr>
                    <tr>
                        <td>Подписчиков:</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Подписан:</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Записей:</td>
                        <td>{{ paginator.count }}</td>
                    </tr>
                </table>
            </div>
        </section>
        <section class="user-posts">
            <div class="user-posts__wrapper">
                <h1 class="user-posts__heading">Все записи пользователя {{ user_profile.username }}</h1>
                <ul class="user-posts__list">
                    {% for post in page %}
                        <li class="user-posts__post">
                            <a class="user-posts__user-link link" href="{% url 'profile' username=user_profile.username}">@{{user_profile.username}}</a>
                            <p class="user-posts__post-text">{{ post.text }}</p>
                            <date class="user-posts__post-date" date="{{ post.pub_date }}">{{ post.pub_date|date:"d E Y" }} г.</date>
                            <div class="user-posts__btn-group">
                                {% if user.is_authenticated %}
                                    <a href="{% url 'post' username=user.username post_id=post.id %}" class="btn">Оставить комментарий</a>
                                {% endif %}
                                {% if user_profile.username == user.username %}
                                    <a href="{% url 'post_edit' username=user_profile.username post_id=post.id %}" class="btn btn--light">Редактировать</a>
                                    <a href="{% url 'post_delete' username=user_profile.username post_id=post.id %}" class="btn btn--light-accent">Удалить</a>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% include "paginator.html" with items=page paginator=paginator %}
        </section>
    </div>
{% endblock %}
